.movie-card {
    padding: 10px;
    text-align: center;
  }
  
  .movie-img {
    width: 280px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .movie-title {
    font-size: 14px;
    margin-top: 8px;
    color: #222;
  }

  @media(max-width:600px){
    .movie-img{
      width: 100%;
    }
}