*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.profile{
    width: 40px;
    height: 40px;
}

.user{
  width: 100%;
  height: 100%;  
  border-radius: 50px;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-profile-photo{
  width: 30px;
  height: 30px;
  border-radius:50px;
}

.Profile-photo{
  width: 100%;
  height: 100%;
   border-radius:50px;
}


.dropmenu{
    width: 20%;
    position: absolute;
    top: 60px;
    left: 1012px;
    border: 1px solid white;
    background-color: black;
    padding: 10px;
    z-index: 100;
}

.dropmenu::before{
    content: '';
    position: absolute;
    top: -5px;
  right: 20px;
  height: 20px;
  width: 20px;
}
